header{
    background-color: chocolate;
    font-size: larger;
    text-align: center;
}
header h1{
    font-size: 40px;
}
#mae {
    background-color: chartreuse;
}
#mannnaka{
    background-color: aquamarine;
}
#usiro{
    background-color: burlywood;
}
